{% extends 'Book/base.html' %}

{% block page_header %}
  <h1>Books</h1>
{% endblock page_header %}

{% block content %}

  <ul class="list-group border-bottom pb-2 mb-4">
    {% for book in books %}
      <li class="list-group-item border-0">
        <a href="{% url 'crazy_books_clubs:book_detail' book.id %}">
          {{ book.name }}</a>
          <p>Authors: {{ book.authors|join:", "|title }}</p>
          <p>Year Published: {{ book.year_published }}</p>
      </li>
    {% empty %}
      <li class="list-group-item border-0">No books available.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'crazy_books_clubs:new_book' %}">Add a New Book</a>

{% endblock content %}